<div class="main">
  <div class="pagehead teamhead">
    <div class="container teamhead-details-container">
      <h1 class="public">
        <div class="public-main">
          <span class="group">
            <i class="icon icon-group"></i>
            <a href="">同步课</a>
          </span>
          <span class="path-divider">/</span>
          <a href="">{{course?.courseName}}</a>
        </div>
        <div class="join-team">
          <button class="btn btn-primary btn-xs apply-course">
            申请加入
          </button>
        </div>
      </h1>
      <nav class="nav nav-tabs">
        <li>
          <a href="">
            <span class="name">
              简介
            </span>
          </a>
        </li>
        <li>
            <a href="">
              <span class="name">
                互动
              </span>
            </a>
        </li>
        <li>
            <a href="">
              <span class="name">
                任务{{course?.task}}
              </span>
            </a>
        </li>
        <li>
            <a href="">
              <span class="name">
                成员{{course?.person}}
              </span>
            </a>
        </li>
      </nav>
    </div>
  </div>
  <div class="container team-base-main">
    <div class="team_content">
      <header class="team-navbar-menu-wrap">
        <ul class="nav nav-primary third-nav">
          <li class="active">
            <a href="">全部任务</a>
          </li>
        </ul>
      </header>
    </div>
  </div>
</div>

<!-- <div class="container">
  
  <h3>同步课{{course?.courseName}}</h3>
  <ul class="list">
    <li>简介</li>
    <li>互动</li>
    <li>任务{{course?.task}}</li>
    <li>成员{{course?.person}}</li>
  </ul>
</div> -->
